
server_tokens off;
proxy_buffer_size 128k;
proxy_buffers 32 128k;
proxy_busy_buffers_size 256k;
proxy_max_temp_file_size 0;
proxy_read_timeout 300;
proxy_send_timeout 300;
proxy_connect_timeout 300;
log_format logfmt escape=json
    'ts=$time_iso8601 '
    'method=$request_method '
    'request_uri="$request_uri" '
    'uri="$uri" '
    'origin="$origin" '
    'origin_path="$origin_path" '
    'origin_header_key="$origin_header_key" '
    #'origin_header_value="$origin_header_value" '
    'allowed=$allowed '
    'status=$status '
    'host="$host" '
    'scheme=$scheme '
    'x_forwarded_for="$http_x_forwarded_for" '
    'cf_connecting_ip="$http_cf_connecting_ip" '
    'user_http_referer="$http_referer" '
    'user_agent="$http_user_agent" '
    'user_remote_addr=$remote_addr '
    'user_remote_port=$remote_port '
    'proxy_addr=$realip_remote_addr '
    'proxy_port=$realip_remote_port '
    'request_id="$request_id" '
    'bytes_request="$request_length" '
    'bytes_response="$body_bytes_sent" '
    'server_protocol="$server_protocol" '
    'server_port="$server_port" '
    'upstream_addr="$upstream_addr" '
    'time_request="$request_time" '
    'time_upstream_connect="$upstream_connect_time" '
    'time_upstream_header="$upstream_header_time" '
    'time_upstream_response="$upstream_response_time" '
    ;


map $origin $origin_header_key {
    default "Dummy";
    rfa.org "Bypass-Rate-Limit-Token";
    ~^(.*\.)?rfa\.org$ "Bypass-Rate-Limit-Token";
}

map $origin $origin_header_value {
    default "Dummy";
    rfa.org "{{ instance_proxy_bypass_rate_limit_token }}";
    ~^(.*\.)?rfa\.org$ "{{ instance_proxy_bypass_rate_limit_token }}";
}

map $origin $allowed {
    default 0;
    rfa.org 1;
    ~^(.*\.)?rfa\.org$ 1;
    kaltura.com 1;
    ~^(.*\.)?kaltura\.com$ 1;
    acast.com 1;
    ~^(.*\.)?acast\.com$ 1;
    open.acast.com 1;
    pippa.io 1;
    ~^(.*\.)?pippa\.io$ 1;

}

server {
    listen 443 ssl;
    access_log /var/log/nginx/access.log logfmt;
    # BEGIN mozilla SSL config
    #    obtained from: https://ssl-config.mozilla.org/#server=nginx&version=1.17.7&config=intermediate&openssl=1.1.1k&guideline=5.7
    # we are using the intermediate config because AWS Cloufront as of 2024-06 does not support TLSv1.3
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
    ssl_session_tickets off;
    # intermediate configuration
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305;
    ssl_prefer_server_ciphers off;
    add_header Strict-Transport-Security "max-age=63072000" always;
    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_trusted_certificate /etc/ssl/certs/ca-certificates.crt;
    ssl_dhparam /etc/nginx/dhparams.pem;
    # END mozilla SSL config
    ssl_certificate /etc/letsencrypt/live/{{ instance_proxy_domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ instance_proxy_domain_name }}/privkey.pem;
    server_name {{ instance_proxy_domain_name }};
    resolver 10.30.0.2;
    tcp_nodelay on;
    keepalive_timeout 65;
    set $origin '';
    set $origin_path '';
    if ($request_uri ~* ^/proxy/([^/]+)(/?.*)) {
        set $origin $1;
        set $origin_path $2;
    }
    location / {

        if ($allowed = 0) {
            return 403;
        }

        proxy_set_header Host $origin;
        proxy_set_header X-Real-IP $http_x_real_ip;
        proxy_set_header X-Forwarded-For $http_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        # We would like to do this, but nginx doesn't allow it
        #proxy_set_header $origin_header_key $origin_header_value;
        # so instead we always pass the keys we need, but with dummy values (see the map above)
        proxy_set_header x-api-key $origin_header_value;
        proxy_set_header Bypass-Rate-Limit-Token $origin_header_value;

        proxy_ssl_server_name on;
        proxy_pass https://$origin$origin_path;

    }
}
