server {
    listen 80;
    server_name {{ instance_proxy_domain_name }};

    location ^~ /.well-known/acme-challenge/ {
        default_type "text/plain";
        root       /var/www/letsencrypt-challenge;
    }

    location = /.well-known/acme-challenge/ {
        return 404;
    }

    location / {
        return 301 https://$server_name$request_uri;
    }
}
