[Unit]
Description=The AnyNews Republisher
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStartPre=-docker stop republisher
ExecStartPre=-docker rm republisher
ExecStartPre=docker pull {{ republisher_image }}:{{ republisher_tag }} 
ExecStart=docker run --rm  --name republisher \
 -e AWS_DEFAULT_REGION={{ republisher_bucket_region }} \
 -e AWS_S3_BUCKET_NAME={{ republisher_bucket_name }} \
 -e ANYNEWS_CDN_BYPASS_TOKEN={{ republisher_cdn_bypass_token }} \
 -e ANYNEWS_MAIN_FOLDER={{ [republisher_bucket_prefix, 'feeds'] | ansible.builtin.path_join }} \
 -e ANYNEWS_CLEANUP_FILES={{ republisher_cleanup_files }} \
 -v /var/lib/republisher/config:/app/config \
 -v /var/lib/republisher/data:/app/data \
 {{ republisher_image }}:{{ republisher_tag }} s3batch.sh
ExecStop=-docker stop --time 1 republisher

[Install]
WantedBy=multi-user.target
